{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}

 :tools/usage {:ns-default fermented-formatter.cli}

 :aliases
 {:build {:deps {org.clojure/clojure {:mvn/version "1.10.3"}
                 io.github.clojure/tools.build {:git/tag "v0.2.1" :git/sha "dd64636"}}
          :ns-default build
          :exec-fn run-tasks}

  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? true
                       :artifact "target/fermented-formatter.jar"}}

  :dev {:extra-paths ["."]
        :extra-deps {io.github.clojure/tools.build {:git/tag "v0.2.1" :git/sha "dd64636"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.4.0" :git/sha "334f2e2"}}
         :exec-fn cognitect.test-runner.api/test}}}
